.navbar {
    @apply fixed items-stretch font-gantari top-0 left-0 w-full z-50 flex justify-between px-6 py-4 md:px-12 lg:px-[6rem];
    @apply transition-all duration-300 ease-in-out; /* Reducir duración */
}


.navbar-logo {
    @apply flex items-center backdrop-blur-lg bg-black bg-opacity-10 rounded-xl py-[4] px-4 text-2xl md:text-2xl;
}

.menu-container {
    @apply relative items-center gap-6 rounded-xl px-4 hidden md:flex;
}

.menu-container::before{
    content: '';
    @apply absolute inset-0 z-0; /* Asegura que el pseudo-elemento esté detrás del contenido */
    @apply backdrop-blur-lg bg-black/10 rounded-xl;
 }

.menu-highlight {
    @apply relative z-10;
    @apply absolute bottom-0 h-[3px] mb-1 bg-white rounded-full;
    @apply transition-all duration-300 ease-in-out;
}


/* Ajustes para mantener la legibilidad */
.menu-button {
    @apply text-white flex justify-center items-center;
}
.menu-button-active {
    @apply text-white font-bold; /* Texto activo más brillante */
}

.menu-button-inactive {
    @apply text-gray-200;
    @apply hover:text-slate-50 transition-all duration-300;
}

.weather-info {
    @apply flex items-center gap-2 backdrop-blur-lg rounded-xl bg-black bg-opacity-10 px-3;
}

.city-name {
    @apply hidden md:flex;
}


.dropdown-glass {
    @apply flex flex-col mt-5 backdrop-filter backdrop-blur-lg bg-black/10 rounded-xl shadow-lg;
    @apply transition-all duration-300 ease-out opacity-0 -translate-y-2;

    &.open {
        @apply opacity-100 translate-y-0;
    }
  }

/* Efecto hover en items del dropdown */
.dropdown-item {
    @apply px-4 py-3 text-sm text-white;
    @apply transition-colors duration-200;
    @apply hover:bg-black/15; /* Efecto hover sutil */
    @apply first:rounded-t-xl last:rounded-b-xl; /* Bordes redondeados */
}

.mobile-menu{
    @apply md:hidden bottom-4 left-1/2 transform -translate-x-1/2 text-sm rounded-2xl bg-transparent z-50;
    @apply transition-all duration-1000 ease-in-out;
    @apply gap-6 w-[90%] max-w-sm;
}

.mobile-menu::before{
    content: '';
    @apply absolute inset-0; /* Asegura que el pseudo-elemento esté detrás del contenido */
    @apply backdrop-blur-lg bg-black/10 rounded-2xl;
 }


@media (max-width: 860px) and (min-width: 751px) {
    .navbar-logo {
        @apply text-xl; /* Reduce tamaño del logo */
    }
    
    .menu-button {
        @apply text-sm; /* Texto más pequeño en botones */
    }
    
    .weather-info span {
        @apply text-sm; /* Texto más pequeño en clima */
    }
    
    .weather-info img {
        @apply w-6 h-6; /* Icono de clima más pequeño */
    }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
}