@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundWhite: #ffffff;
  --foregroundBlack: #171717;
}

.dark-mode{
  --color-bg: #2b2b2b;

  --color-text: #d4de95;
  --color-accent1: #636b2f;
  --color-accent2: #b9c096
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  display: none !important;
}

*::-ms-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  color: var(--backgroundWhite);
}


